<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
   ================================================== -->
    <meta charset="utf-8">
    <title>About Us</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
   ================================================== -->
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/vendor.css">
    <link rel="stylesheet" href="/stylesheets/main.css">


    <!-- script
   ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
	================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- header 
   ================================================== -->
    <header class="short-header">

        <div class="gradient-block"></div>

        <div class="row header-content">

            <div class="logo">
                <a href="home"></a>
            </div>

            <nav id="main-nav-wrap">
                <ul class="main-navigation sf-menu">
                    <li><a href="home" title="">Home</a></li>
                    <li class="has-children">
                        <a href="#" title="">Categories</a>
                        <ul class="sub-menu">
                            <li><a href="india">India</a></li>
                            <li><a href="world">World</a></li>
                            <li><a href="sports">Sports</a></li>
                            <li><a href="technology">Technology</a></li>
                            <li><a href="business">Business</a></li>
                            <li><a href="entertainment">Entertainment</a></li>
                        </ul>
                    </li>
                    <li class="current"><a href="about" title="">About</a></li>
                    <li><a href="contact" title="">Contact</a></li>
                </ul>
            </nav>
            <!-- end main-nav-wrap -->

            <div class="search-wrap">

                <form role="search" method="get" class="search-form" action="#">
                    <label>
						<span class="hide-content">Search for:</span>
						<input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s" title="Search for:" autocomplete="off">
					</label>
                    <input type="submit" class="search-submit" value="Search">
                </form>

                <a href="#" id="close-search" class="close-btn">Close</a>

            </div>
            <!-- end search wrap -->

            <div class="triggers">
                <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
                <a class="menu-toggle" href="#"><span>Menu</span></a>
            </div>
            <!-- end triggers -->

        </div>

    </header>
    <!-- end header -->


    <!-- content
   ================================================== -->
    <section id="content-wrap" class="site-page">
        <div class="row">
            <div class="col-twelve">

                <section>

                    <div class="content-media">
                        <img src="images/thumbs/about-us.jpg">
                    </div>

                    <div class="primary-content">

                        <h1 class="entry-title add-bottom">Learn More About Us.</h1>

                        <p class="lead">In one of his speeches, the 11th President of our country, Dr APJ Abdul Kalam stated, “There are millions of such achievements but our media is only obsessed with the bad news and failures and disasters.” With the direction in
                            which the media is headed in our country as well as all over the world, we decided to choose this topic since we can all connect with it personally. Most of us read the news every morning, some of us read updates throughout
                            the day, and it became evident very quickly that what we read in the morning sets the tone for the rest of our day. So we thought, why not help us and those around us start our days on a positive note?
                        </p>

                        <p class="lead">The sheer amount of news that is generated every single day due to digitization gave us a push in the right direction. Summarised articles will help our readers catch up on current affairs. The readers can later choose to look
                            into matters that interest them in greater depth, while continually receiving short summaries regarding other topics.</p>

                        <p class="lead">The positive news coming first will help achieve our aim of starting the day with a positive mindset. To do this, we will be using sentiment analysis to filter news articles and therefore the pieces will be positive, neutral or
                            negative. Not only does negative news spread faster, but also gets more people to click on the news websites. This results in a higher focus on the negative news and not enough importance towards the positive news.</p>
                        <p class="lead">We understand the weight that some negative news carries and want our readers to be able to have the option of reading whichever piece of news they like, and hence we are leaving in everything. We just want to categorise it going
                            from positive to negative.</p>
                        <div class="row block-1-2 block-tab-full">
                            <div class="bgrid">
                                <h3>Who.</h3>
                                <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam
                                    in aute ullamco Duis laborum ad non pariatur sit.</p>
                            </div>

                            <div class="bgrid">
                                <h3>When.</h3>
                                <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam
                                    in aute ullamco Duis laborum ad non pariatur sit.</p>
                            </div>

                            <div class="bgrid">
                                <h3>What.</h3>
                                <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam
                                    in aute ullamco Duis laborum ad non pariatur sit.</p>
                            </div>

                            <div class="bgrid">
                                <h3>How.</h3>
                                <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam
                                    in aute ullamco Duis laborum ad non pariatur sit.</p>
                            </div>

                        </div>

                    </div>

                </section>

            </div>
            <!-- end col-twelve -->
        </div>
        <!-- end row -->

    </section>
    <!-- end content -->


    <!-- footer
   ================================================== -->
    <footer>

        <div class="footer-main">


        </div>
        <!-- end footer-main -->

        <div class="footer-bottom">
            <div class="row">

                <div class="col-twelve">
                    <div class="copyright">
                    </div>

                    <div id="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <!-- end footer-bottom -->

    </footer>

    <div id="preloader">
        <div id="loader"></div>
    </div>

    <!-- Java Script
   ================================================== -->
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>