<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
   ================================================== -->
    <meta charset="utf-8">
    <title>Contact Us</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
   ================================================== -->
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/vendor.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <!-- script
   ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
	================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- header 
   ================================================== -->
    <header class="short-header">

        <div class="gradient-block"></div>

        <div class="row header-content">

            <div class="logo">
                <a href="home">Author</a>
            </div>

            <nav id="main-nav-wrap">
                <ul class="main-navigation sf-menu">
                    <li><a href="home" title="">Home</a></li>
                    <li class="has-children">
                        <a href="#" title="">Categories</a>
                        <ul class="sub-menu">
                            <li><a href="india">India</a></li>
                            <li><a href="world">World</a></li>
                            <li><a href="sports">Sports</a></li>
                            <li><a href="technology">Technology</a></li>
                            <li><a href="business">Business</a></li>
                            <li><a href="entertainment">Entertainment</a></li>
                        </ul>
                    </li>
                    <li><a href="about" title="">About</a></li>
                    <li class="current"><a href="contact" title="">Contact</a></li>
                </ul>
            </nav>
            <!-- end main-nav-wrap -->

            <div class="search-wrap">

                <form role="search" method="get" class="search-form" action="#">
                    <label>
						<span class="hide-content">Search for:</span>
						<input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s" title="Search for:" autocomplete="off">
					</label>
                    <input type="submit" class="search-submit" value="Search">
                </form>

                <a href="#" id="close-search" class="close-btn">Close</a>

            </div>
            <!-- end search wrap -->

            <div class="triggers">
                <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
                <a class="menu-toggle" href="#"><span>Menu</span></a>
            </div>
            <!-- end triggers -->

        </div>

    </header>
    <!-- end header -->


    <!-- content
   ================================================== -->
    <section id="content-wrap" class="site-page">
        <div class="row">
            <div class="col-twelve">

                <section>

                    <div class="content-media">
                        <div id="map-wrap">
                            <div id="map-container"></div>
                            <div id="map-zoom-in"></div>
                            <div id="map-zoom-out"></div>
                        </div>
                    </div>

                    <div class="primary-content">

                        <h1 class="entry-title add-bottom">Get In Touch With Us.</h1>


                        <div class="row">
                            <div class="col-six tab-full">
                                <h4>Where to Find Us</h4>

                                <p>
                                    Symbiosis Institute of Technology<br>Symbiosis International<br> Pune, MH<br> 412 115 <br> India
                                </p>

                            </div>

                            <div class="col-six tab-full">
                                <h4>Contact Info</h4>

                                <p>nikhilmatta@icloud.com<br> <br> Phone: (+91) 750 600 5767
                                </p>

                            </div>

                        </div>

                        <form name="cForm" id="cForm" method="post" action="#">
                            <fieldset>

                                <div class="form-field">
                                    <input name="cName" type="text" id="cName" class="full-width" placeholder="Your Name" value="">
                                </div>

                                <div class="form-field">
                                    <input name="cEmail" type="text" id="cEmail" class="full-width" placeholder="Your Email" value="">
                                </div>

                                <div class="form-field">
                                    <input name="cWebsite" type="text" id="cWebsite" class="full-width" placeholder="Website" value="">
                                </div>

                                <div class="message form-field">
                                    <textarea name="cMessage" id="cMessage" class="full-width" placeholder="Your Message"></textarea>
                                </div>

                                <button type="submit" class="submit button-primary full-width-on-mobile">Submit</button>

                            </fieldset>
                        </form>
                        <!-- end form -->

                </section>


                </div>
                <!-- end col-twelve -->
            </div>
            <!-- end row -->
    </section>
    <!-- end content -->


    <footer>

        <div class="footer-main">


        </div>
        <!-- end footer-main -->

        <div class="footer-bottom">
            <div class="row">

                <div class="col-twelve">
                    <div class="copyright">
                    </div>

                    <div id="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <!-- end footer-bottom -->

    </footer>

    <div id="preloader">
        <div id="loader"></div>
    </div>

    <!-- Java Script
   ================================================== -->
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3.13&amp;sensor=false"></script>
    <script src="js/main.js"></script>

</body>

</html>